[2022-02-08 08:55] dzmitry-lahoda commented on #1389
Yeah. I can do it. Thanks. Just tried to use existing yamls in kustomize. So can generate and than kustomize.

[2022-02-08 08:55] #1389 closed

[2022-02-08 11:05] mridulji commented on #1266
Hey @TBBle, would you please like to see if the above PR fixes this bug.

[2022-02-08 12:26] TBBle commented on #1266
I had a quick look; I'm not in a position to test this, as I've moved teams and am no longer working on Open Match integration.

The failure appears to be based on _all_ `AssignmentGroup`s being empty, as it checks the resulting ticketID-keyed map. My understanding from the conversation above (but I may have mistook) was that the failure would happen if _any_ `AssignmentGroup` is empty.

Perhaps s

[2022-02-11 15:40] syntxerror commented on #1269
Closing because unable to reproduce. Reopen if this occurs and we will gather reproduction steps.

[2022-02-11 18:08] #1227 closed

[2022-02-11 19:05] syntxerror commented on #1266
I agree with a unit test for the multi-group assignment may been needed and would help clarify this behavior. We should update the documentation to state a _singular_ empty `AssignmentGroup`s within a multi-group assignment will be ignore and an entirely empty `AssignmentGroup` will result in failure.

[2022-02-11 19:05] #1266 closed

[2022-02-15 16:29] syntxerror opened #1439 "Update minimum resources for Open Match installation, guides, and tutorials"
**What happened**:
When installing Open Match, there are times where minimal resources were not available to install component of Open Match. According to this [documentation](https://www.google.com/url?q=https://sysdig.com/blog/kubernetes-limits-requests/&sa=D&usg=AOvVaw1XEetKfEWlHCzcmVf3Athh) and this [question](https://www.google.com/url?q=https://stackoverflow.com/questions/65727287/how-much-m

[2022-02-17 21:36] #1423 closed

[2022-02-18 20:34] SpringMT opened #1441 "Add annotation settings for frontend Service helm"
**Is your feature request related to a problem? Please describe.**
I try to use open-match with AWS EKS.
In AWS EKS,  `aws-load-balancer-controller` is needed using AWS LB(ALB or NLB) for k8s Service.
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/annotations/
Using`aws-load-balancer-controller`, need some annotations for Service.

But, no annotaion options for f

[2022-02-22 16:39] #1345 closed

[2022-02-25 16:23] syntxerror commented on #1143
Closing due to staleness. If this is needed, we'll reopen.

[2022-02-25 16:23] #1143 closed

[2022-02-25 16:45] syntxerror commented on #1242
Closing due to resolution in thread

[2022-02-25 16:45] #1242 closed

[2022-02-25 17:03] syntxerror commented on #1301
@Kiddinglife To answer your questions:

For example:
Profile1 has a Pool that filters all Tickets with k1:v1 and k2:v2.
Profile2 has a Pool that filters all Tickets with k1:v1.

In this example, Profile 1 would have a subset of the tickets from Profile 2. There is no guarantee that any conflict will not happen here but there is a possibility.

If you have two pools with practically the same data t

[2022-02-28 15:28] #1301 closed

[2022-02-28 15:31] syntxerror commented on #1153
Closing due to root issue being closed. A streaming interceptor for matches return  is separate from the current issue that was addressed. If we believe that a streaming interceptor is needed, we should open a new issue to implement it. Sound good @castaneai ?

[2022-02-28 15:31] #1153 closed

[2022-03-02 12:34] tmokmss opened #1442 "values.yaml in Helm release looks broken"
**What happened**:
Hi team, though I'm not entirelly sure if it is a bug or not, could you check it when you get a chance? Thanks!

When I `helm pull` the latest open-match release, the downloaded `values.yaml` looks broken.

The actual file is here: https://pastebin.pl/view/280b03ad
We can find much duplicated code here and it looks totally different from [the file in repo](https://github.com/goo

[2022-03-03 16:38] #1374 closed

[2022-03-03 16:38] #1418 closed

[2022-03-03 16:38] #1439 closed

[2022-03-03 17:12] syntxerror opened #1443 "github.com/golang/protobuf has been deprecated. Moved to google.golang.org/protobuf"
**What happened**:
[github.com/golang/protobuf](https://github.com/golang/protobuf/releases/tag/v1.5.0) has been deprecated some time ago and to ensure we do not run into an issues we should update this.
**What you expected to happen**:
Update to [google.golang.org/protobuf](https://pkg.go.dev/google.golang.org/protobuf)
**How to reproduce it (as minimally and precisely as possible)**:
N/A
**Anyth

[2022-03-07 16:23] mridulji opened #1446 "Release 1.4.0-rc.1"
# Open Match Release Process

Follow these instructions to create an Open Match release. The output of the
release process is new images and new configuration.

## Getting setup

**NOTE: The instructions below are NOT strictly copy-pastable and assume 0.5**
**release. Please update the version number for your commands.**

The Git flow for pushing a new release is similar to the development process

[2022-03-16 18:37] colinrgodsey commented on #1446
@mridulji the docs currently point to 1.4.0-rc.1, and the yaml for that version is not publicly accessible:

https://open-match.dev/install/v1.4.0-rc.1/yaml/01-open-match-core.yaml

[code]

[2022-03-16 18:41] syntxerror commented on #1446
@colinrgodsey Sorry for the mix-up. We pushed the button on the docs prematurely before the images rolled out. We are awaiting a review on the open match repo before shipping off the images. We will send out a message once the release candidate has been shipped and the images are available. We recommend using the 1.3.0 images for now. Sorry and thanks for your understanding.

[2022-03-22 17:58] syntxerror commented on #1187
Searched the repo for instances where the FQDN is not followed by the trailing dot ([for context](https://pracucci.com/kubernetes-dns-resolution-ndots-options-and-why-it-may-affect-application-performances.html)), it's only in helm, so I recommend adding it there to help out. For the tutorials this likely isn't high priority as well since we don't expect it to be long lived.

[2022-03-22 17:58] #1187 closed

[2022-03-22 18:07] syntxerror commented on #1239
This would be a great sample to work along side Open Match but should not exist as **part** of the matchmaker or its process. This would be great for the [ecosystem repo](https://github.com/googleforgames/open-match-ecosystem). Will move there.

[2022-03-22 18:16] syntxerror commented on #1312
Duplicate of #683

[2022-03-22 18:16] #1312 closed

[2022-03-22 18:24] syntxerror opened #1448 "Remove dependencies for e2e tests by creating independent go mod files."
**What happened**:
An issue (#1384) identified the go-client is out of date but it was identified that go-client is only used for tooling. After discussion it would be best to move all dependencies for e2e test such as go-client into a separate go mod file since Open Match does not depend of several of these.

[2022-03-22 18:25] syntxerror commented on #1384
Created an issue to resolve this. See #1448

[2022-03-22 18:25] #1384 closed

[2022-03-22 20:27] lihaif commented on #1392
@syntxerror Thanks for your feedback.
We are currently using option 1. We firstly query the ticket using playerid. We delete the ticket and create a new one if there is an existing ticket. But it brings too much workload to the query service. I opened https://github.com/googleforgames/open-match/issues/1388 and https://github.com/googleforgames/open-match/issues/1391 to record the performance-rela

[2022-03-23 22:03] syntxerror commented on #1392
@lihaif Option 3 would make the most sense for your use case and you may be able to implement it yourself. I can bring this up to the community in our next call and we can see what the reception is like but unlikely to be implemented.

[2022-03-24 00:38] joeholley opened #1449 "PodSecurityPolicy deprecated in k8s 1.25"
**What happened**:
Installing on GKE using the currently supported k8s versions displays a deprecation notice for this resource type.

**What you expected to happen**
Need to update these to use the new PodSecurity admission controller.
https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2579-psp-replacement

**How to reproduce it (as minimally and precisely as possible)**:
Start

[2022-04-04 02:13] joeholley opened #1451 "Move Assignments APIs to their own service"
**Is your feature request related to a problem? Please describe.**
Many users of OM have expressed concern around storing both ticket information and assignment information in the same Redis instance, as well as concern around the performance impact that watching Assignment updates has on querying tickets for matching logic. (Ref: [Issue #1397](https://github.com/googleforgames/open-match/issues/1

[2022-04-04 15:43] syntxerror commented on #1111
This would be great but it would be more beneficial for developers to stress test in their own environments. I do believe we should have better stress testing frameworks/benchmarking tools to allow developers to do so.

[2022-04-12 16:38] syntxerror commented on #1446
@colinrgodsey Hey we just finalized the release if you haven't gotten any emails or notifications about it. You should be able to pull those images for 1.4.0-rc.1 now.

[2022-04-12 16:38] #1446 closed

[2022-04-14 20:11] bjornicus opened #1452 "kubectl apply -n open-match -f https://open-match.dev/install/v1.4.0-rc.1/yaml/03-prometheus-chart.yaml fails"
**What happened**:

tried to install prometheus with kubectl

**What you expected to happen**:
it should succeed

**How to reproduce it (as minimally and precisely as possible)**:

`❯ kubectl apply -n open-match -f https://open-match.dev/install/v1.4.0-rc.1/yaml/03-prometheus-chart.yaml
serviceaccount/open-match-prometheus-alertmanager created
serviceaccount/open-match-prometheus-kube-state-metric

[2022-04-20 00:23] colinrgodsey opened #1453 "open-match.dev not crawlable?"
Sorry, I know this isn't really a bug but: how come open-match.dev isn't crawlable or indexed in Google? It makes it really hard to search for things, plus the site-wide search feature (also uses google) doesn't work.

Try searching with `site:open-match.dev anything` in google.

[2022-04-22 11:29] Bardin08 opened #1454 "Not possible to deploy Open Match to EKS"
**What happened**:
It's impossible to deploy an open match to the EKS (Amazon Kubernetes Service).

I strictly followed the installation instruction hosted at https://open-match.dev/site/docs/installation/yaml/.

1. I've created the EKS cluster with `eksctl` command
[code]

2. Then, I've added the nodes group with a command
[code]

3. I've copy-and-paste commands from the open-match docs
[code]

4

[2022-04-22 22:21] syntxerror commented on #683
# Objective
To provide a service with insight into player pool statistics and to extract the useful information from that distribution of the population to be able to make significant conclusions. These conclusions are not limited to:

- How long players are in queue/time to match
  - The popularity of a game mode, maps, characters, etc.
- Player distribution across profiles
- Skill distribution
-

[2022-04-26 16:06] syntxerror commented on #1454
Hey @Bardin08. It looks like you need to deploy the default evaluator in the [next step](https://open-match.dev/site/docs/installation/yaml/#install-the-default-evaluator) and your pods should start running. Give it a shot and let me know if that resolves.

[2022-04-26 16:07] mridulji opened #1456 "Release 1.4.0"
# Open Match Release Process

Follow these instructions to create an Open Match release. The output of the
release process is new images and new configuration.

## Getting setup

**NOTE: The instructions below are NOT strictly copy-pastable and assume 0.5**
**release. Please update the version number for your commands.**

The Git flow for pushing a new release is similar to the development process

[2022-04-27 12:00] #1142 closed

[2022-04-27 15:04] Bardin08 commented on #1449
At k8s 1.21+, it causes an annoying warning.

[code]

@joeholley, maybe you know, can this impact PROD, or it's okay to ignore this warning temporarily?

[2022-05-06 16:00] mridulji commented on #1454
Hey @Bardin08, May I get to know if you are still facing this issue? And also have you tried deploying any other version of Open-Match on EKS let's say `v1.3.0`?

[2022-05-10 12:55] Bardin08 commented on #1454
@mridulji, I haven't tried to deploy the `v1.3.0`. I'd fix the `v1.4.0-rc1,` and it worked for me.

[2022-05-10 13:22] mridulji commented on #1454
Great!!👍🏻. Would love if you share what fix worked for you. That may be helpful to others as well.

[2022-05-10 14:35] Bardin08 opened #1458 "Can't get match assignment"
**What happened**:
`../v1/frontendservice/tickets/{TICKET_ID}/assignments` is an endless call.

When I browse logs at the k8s pod, I see these errors:

#### Director service
[code]

#### MMF service
There're no logs

#### Backend service
[code]

Here we have an exciting part that says we're trying to access an MMF service from the backend at the `http://localhost:50502/v1/matchfunction:run\`.
[cod

[2022-05-12 07:05] Bardin08 commented on #1458
UPD: Backend contains no logs anymore
Here is a request that Director sends to the backend service:
Fetch request: Url: http://10.1xx.xxx.xx:51505/v1/backendService/matches:fetch, body: {"config":{"host":"10.100.98.207","port":50502,"type":"REST"},"profile":{"name":"TeamMatch","pools":[{"name":"tm1","tag_present_filters":[{"tag":"tm1"}],"double_present_filters":[{"double_arg":"attribute.pwr","min"

[2022-05-12 12:40] mridulji commented on #1434
Hey @lihaif, I tried to reproduce this issue and found that scaling down redis deployment to 1 solves the problem. Also there is change in redis chart version in the latest [release](https://github.com/googleforgames/open-match/releases/tag/v1.4.0-rc.1). Could you try it with `v1.4.0-rc.1` to see if the probelm persists? I Hope it helps.

[2022-05-12 16:00] mridulji commented on #1458
Hey @Bardin08, Could you share the definition of your profiles in the director?

[2022-05-12 16:38] Bardin08 commented on #1458
@mridulji, yea sure. Here is a profile that Director sends to the backend service

[code]

And here is a ticket model:

[code]

[2022-05-12 21:04] lihaif commented on #1434
Hey @mridulji, I also found that scaling down Redis to 1 solves this issue. But it does not sound like the proper solution. BTW, I left my previous company and I had no environment to test this. I will ask somebody else to follow up on this.

[2022-05-13 01:00] ZakHam commented on #1434
Hi @mridulji thanks for looking into this. I will test using version `v1.4.0-rc.1` and report back.

[2022-05-13 11:21] Bardin08 commented on #1458
@mridulji @syntxerror is there any way to log all requests and responses out of the box? I can't see logs at OM core pods and I still can't understand how to understand the reason for that error

[2022-05-16 20:01] #1458 closed

[2022-05-18 09:09] mridulji commented on #1434
Thanks for replying, I am closing the issue by assuming it is resolved. Feel free to re-open if still facing the problem.

[2022-05-18 09:09] #1434 closed

[2022-05-30 08:31] mridulji commented on #1454
Closing the issue as it is resolved, Please re-open if facing this issue.

[2022-05-30 08:31] #1454 closed

[2022-06-03 08:33] luna-duclos opened #1463 "Openmatch 1.3.0: Broken helm chart"
**What happened**: The helm chart for the latest non release candidate version of openmatch 1.3.0 is broken

**What you expected to happen**: A non broken chart

**How to reproduce it (as minimally and precisely as possible)**: Try and install the chart, it will fail because the chart uses a very old release of redis, which was removed from the bitnami upstream.

**Anything else we need to know?**

[2022-06-06 15:41] syntxerror commented on #1407
@dzmitry-lahoda Were you able to resolve? We see that we're waiting for a dump of configmaps to continue.

[2022-06-06 15:53] dzmitry-lahoda commented on #1407
I do not observe issue for a long. so we use cloud redis on latest openmatch. we observe that ticket pile up and we need to clean them up (no ttl). but that afaik expected.

I do not know if it still issue on sentinel in cluster redis.

[2022-06-06 15:53] #1407 closed

[2022-06-10 16:40] SaitejaTamma commented on #1145
Hello @TBBle

we want to suggest you that it is not a good idea to change the  open-match demo examples (remove hard coded namespace) as this would create incompatibility issues for the end users who are consuming for respective examples. Our recommendation would be to create helm charts in order to templatize the open-match demo deployment descriptors.
Let Us Know if you have any questions we are

[2022-06-16 08:57] mridulji commented on #1405
Hey @dzmitry-lahoda, Could you confirm if this issue can be closed now since PR has been merged ?

[2022-06-16 09:24] #1405 closed

[2022-06-17 16:03] #1378 closed

[2022-06-20 07:43] mridulji commented on #1463
Hello @luna-duclos, Would you like to make these changes 👉🏻 https://github.com/googleforgames/open-match/pull/1440/files locally in `release-1.3` branch and see if it works for you. Please re-open this issue if you're still facing the problem.

[2022-06-20 08:14] mridulji commented on #1424
Hello @trixnz, we found that Redis pods were not in sync due to which few other issues were showing up, maybe this is also related in some way. Could you test and see if this issue is still happening in `v1.4.0-rc.1` ?

[2022-06-21 16:44] #1247 closed

[2022-06-22 12:22] duong2179 opened #1466 "Is it possible to deploy open-match without using Kubernetes?"

[2022-06-22 13:27] mridulji commented on #1466
There are couple of Issues 👉🏻 #1303 and #1451 In which deploying Open-Match on cloud run is being discussed. Also kubernetes is helpful as it provides functionalities like scaling, management of containerized applications etc. Would you like to share what exactly are you looking for?

[2022-06-23 10:51] mridulji commented on #1351
Hello @Kiddinglife, Thanks for raising your query regarding scaling of MMF.

Yes, Open-match spins up new instances of MMF.

HPA is used with configuration that when CPU utilization reaches 80%. [Source](https://github.com/googleforgames/open-match/blob/main/install/helm/open-match/values.yaml#L240L243)

Method `BackendService.FetchMatches` return the streaming result But currently there is no con

[2022-06-24 03:42] duong2179 commented on #1466
Hi, our system is pretty small but I still want to take this chance to learn open-match. I am thinking of deploying the system using minikube on my own server (not a cloud provider). But the open-match module needs to communicate with other modules of the system deployed by docker-compose. This makes things more complicated I believe. If it's possible then I would like to deploy open-match using d

[2022-06-24 08:09] mridulji commented on #1226
Hi @luna-duclos, could you share the structure/definition of the custom data that you are trying to store in extensions field?

[2022-06-29 14:41] #1229 closed

[2022-06-30 10:01] mridulji commented on #1442
Hey @tmokmss, Nice catch!!! the `values.yaml` [file in repo](https://github.com/googleforgames/open-match/blob/main/install/helm/open-match/values.yaml) is indeed different from what it is in packaged file downloaded from helm pull. Could you also share if you are facing any problem due to this or is it causing to break in installation process?

[2022-06-30 11:17] tmokmss commented on #1442
Hi @mridulji No it does not exactly have a runtime problem; it seemed to work properly even though yaml looks broken.
The only problem I faced was when I ran `helm pull` and manually edited the yaml to change unexposed variables for this helm package. Since it was somewhat obfuscated, it was difficult to edit manually 😅

[2022-06-30 11:55] mridulji commented on #1442
So did that work finally? 🤔 just wondering if you could use `make install/yaml` command to generate yaml files if need to make any customisation.

[2022-06-30 12:27] tmokmss commented on #1442
Yes it worked as far as I checked. If it is an expected behavior it's okay to close this issue :) I just created it to confirm if it's a bug or not.

[2022-06-30 14:10] mridulji commented on #1442
Thanks for your view. Let's wait for a week and see if anyone has objection before marking it as closed.

[2022-07-01 07:33] mridulji commented on #1466
It would be great if you share in this space or on slack with the folks about new and amazing ways you try out of using open-match.

[2022-07-01 09:55] govargo opened #1470 "Tutorial: How to build a basic Matchmaker cannot build container image"
**What happened**:

I'm new to OpenMatch and I tried the first tutorial [How to build a basic Matchmaker](https://open-match.dev/site/docs/tutorials/matchmaker101/).
When I tried the building images of frontend, director, matchfunction, I could not build these with the error.

[code]

**What you expected to happen**:

I can build the images of frontend, director, matchfunction.

**How to reproduce

[2022-07-01 09:56] govargo commented on #1470
I'll send PR to fix this.
I'll separte PR to this repository and site-docs repository.

[2022-07-01 10:27] mridulji commented on #1470
Hey @govargo , Would you like to try once this tutorial on either `release-1.4` or `release-1.3` branch ?

[2022-07-01 12:55] mridulji commented on #1470
Yes, The documentation for tutorial instruction is to be updated very soon to try on `release-x.y` branch.

[2022-07-02 02:56] govargo commented on #1470
Thank you. I already sent PR, but I'll update the PR to use `release-x.y` branch.

[2022-07-04 06:15] govargo commented on #1470
I updated the PR to use `release-x.y` branch of Open Match Git repository.
https://github.com/googleforgames/open-match-docs/pull/266

Thank you.

[2022-07-06 10:03] goace opened #1472 "Confusion in the codes of WatchAssignments function"
Here is the codes of WatchAssignments:
[code]

Here is my question: Since the loop will quit in the first loop anyway, what's the meaning of the "for" here?

[2022-07-06 13:16] SomendraDev opened #1473 "How to setup up Match Funtion with Open Match using .net server"
This package helps in interaction with Open Match :
https://github.com/FrozenStormInteractive/openmatch-csharp

![image](https://user-images.githubusercontent.com/106752882/177558514-dbfa1668-9446-4f60-bf27-f2bf0307c042.png)

But, I want to know how match function written using this package will interact with Open Match? Do I need to set ip and port in .yml for match function running in .net api s

[2022-07-06 16:46] mridulji commented on #1424
Marking this issue as closed. Please re-open it if still facing this problem.

[2022-07-07 04:45] SomendraDev commented on #1473
Thank you @mridulji , but where do i define the function name that needs to be called?

[2022-07-07 08:19] ngaurav07 opened #1474 "Connecting director and match function locally"
First of all, I want to thankyou for this great demo. It helped me alot while learning go as well as learning open match and agones.

I want to run open match's director, frontend and backend locally so that I can tweak changes easily. And I have connected backend and match maker with their correspoding open-match cluster.

I am having difficulty when connecting director and mmf. I tried alot and

[2022-07-07 10:01] #1474 closed

[2022-07-07 10:01] ngaurav07 commented on #1474
localhost and other ip address seems working and IPV4 address from system works well.

[2022-07-07 11:58] #1466 closed

[2022-07-09 13:52] SomendraDev commented on #1473
I tried to generate protobuf for .net for match function. But getting following errors :
![image](https://user-images.githubusercontent.com/106752882/178108716-aba2f469-1221-4725-b7b6-44368bdab387.png)
Please help to fix it.

[2022-07-10 11:57] SomendraDev commented on #1473
I got solution to this problem by using this package : https://github.com/FrozenStormInteractive/openmatch-csharp
![image](https://user-images.githubusercontent.com/106752882/178143188-bde32924-4eed-426b-8428-22c0c99ffc54.png)

I am running the open match in minikube and I am easily able to communicate with frontend and backend of open match.
![image](https://user-images.githubusercontent.com/1067

[2022-07-10 17:52] SomendraDev commented on #1473
I tried deploying open-match-function from demo on minikube open-match namespace, but I am getting following error :
![image](https://user-images.githubusercontent.com/106752882/178156312-ea35cba3-f2e2-42ac-bffa-2a21ab273dba.png)

Please help

[2022-07-13 14:06] mridulji commented on #1472
@goace Thanks for filing this issue. Submitted PR #1472 for it. Would you like to have a look at it?

[2022-07-14 07:07] goace commented on #1472
@mridulji Nice work bro, this solved my doubts !

[2022-07-14 07:07] #1472 closed

[2022-07-15 16:53] jhowcrof opened #1477 "PersistentVolumes and PersistentVolumeClaims persist even after helm uninstall"
Hi,

We started encountering a problem where open-match couldn't start successfully. After digging around we found that the redis data volumes are never reset, even after making many changes and uninstalling from helm many times. This meant we had millions of tickets in redis upon start-up. Example:

[code]

and

[code]

It is unexpected that any data would remain after installing.

[2022-07-15 16:54] jhowcrof commented on #1477
Expected behavior:

`helm uninstall open-match -n open-match` would delete the persistent volumes

Actual behavior:

Redis data sticks around.

[2022-07-15 17:00] jhowcrof commented on #1477
open-match values used are similar to the production helm values provided:

[code]

[2022-07-15 17:28] syntxerror commented on #1477
Hi @jhowcrof. I actually encountered this yesterday as well. We can look into it but if you find anything feel free to let us know what your investigation finds.

[2022-07-16 10:15] duong2179 opened #1478 "`open-match-redis-node-0` pod gets stuck at Pending due to `1 pod has unbound immediate PersistentVolumeClaims`"
I downloaded the yaml file from https://open-match.dev/install/v1.4.0-rc.1/yaml/01-open-match-core.yaml and updated the replicas for backend, frontend, and query from 3 to 1. I then started the open-match core cluster on my single node kubernetes (with master node untainted already) as below:

[code]

But the `open-match-redis-node-0` pod gets stuck at Pending due to `1 pod has unbound immediate P

[2022-07-18 13:58] mridulji commented on #1478
Hey @duong2179,  would you like to troubleshoot based on below queries ?

Is it the only change you are making ? I also updated `replicas: 3` to `replicas: 1` and open-match deploys successfully.

Which platform are you using to delpoy open-match ?

Is sufficient CPU provided to start-up redis node ?

[2022-07-19 20:31] mouglou commented on #1377
Hello ! Any update on this update ? We just try on our side, and we get the same issue with the unrecognized move command. Thanks !

[2022-07-20 15:20] mridulji commented on #1478
Interesting to see this. I actually encountered such an error but it was due to insufficient CPU so machine type was changed to `n1-standard-4` [Reference](https://github.com/googleforgames/open-match-docs/pull/243) . But I am still not clear which platform it is? (GKE, EKS, Minikube etc)

Would you like to try on GKE (if not doing on it) following the [documentation](https://open-match.dev/site/d

[2022-07-20 15:24] mridulji commented on #1477
Hey @jhowcrof, Would you please help us with below information?

**Cloud Provider/Platform (AKS, GKE, Minikube etc.)**:

**Open Match Release Version**:

**Install Method(yaml/helm)**:

[2022-07-21 06:43] duong2179 commented on #1478
@mridulji Well, I run the system on my own desktop (yes, for learning purposes). I followed [Creating a cluster with kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm) and created a single node cluster using `kubeadm`.

[2022-07-22 19:00] corradomatt opened #1479 "Helm chart broken when using Redis password with BYO-Redis"
**What happened**:
The OpenMatch helm chart is broken when using a custom Redis deployment which also uses a password.

---

**What you expected to happen**:
The helm chart should build the K8s manifests correctly as it would with version `1.0.0` when using a custom Redis deployment with a password set.

---

**How to reproduce it (as minimally and precisely as possible)**:
Run the following Helm

[2022-07-25 10:41] mridulji commented on #1470
Thanks for the PR. Closing this issue as it is resolved.

[2022-07-25 10:41] #1470 closed

[2022-07-26 12:05] mridulji commented on #1479
Hey @corradomatt, Would you like to try generate `yaml` using command `make install/yaml/01-open-match-core.yaml` after editing `makefile` like this👇🏻
<img width="1134" alt="image" src="https://user-images.githubusercontent.com/94632788/181001587-e292f1b4-2791-4c4e-8302-d01b34b0f0ab.png">

[2022-07-26 15:16] syntxerror commented on #1478
Is it possible to test this against minikube? I suspect that there are some features missing from kubeadm that aren't meant for running (semi) production use cases such as an Open Match tutorial. If it was required to move the number of replicas from 3 to 1 then there likely are some other things that were not accounted for. I want to ensure that this is a bug and not a use case that likely needs

[2022-07-26 16:42] mridulji commented on #1478
Thanks for bringing up this issue and sharing the resolution steps, It would be very helpful when trying open-match on kubeadm. Marking this issue as closed. Feel free to re-open if needed.

Thanks 🙂

[2022-07-26 16:42] #1478 closed

[2022-07-30 16:01] SomendraDev commented on #1473
I had solved the issue many weeks ago, actually the issue was label selector was wrong, after fixing it, everything is working fine.

[2022-08-01 09:50] mridulji commented on #1473
Thanks @SomendraDev for your feedback, I am marking this issue as closed.

[2022-08-01 09:50] #1473 closed

[2022-08-02 06:04] bpar476 opened #1480 "Support TLS from open match core services to redis"
**Is your feature request related to a problem? Please describe.**
It's not currently possible to enforce TLS between open-match core services and the redis state store. This is a desirable feature to bolster the security posture of the open match deployment.

**Describe the solution you'd like**
Ability to provide a list of TLS certificate files in the open match config. These files would be used

[2022-08-02 14:49] syntxerror commented on #1415
Hi @iffyio. We're getting through the outstanding issues slowly and are wondering if you have come up with a solution since the opening of this issue. We would appreciate any findings that help resolve if you did find a solution. We noticed that your Istio version went through three minor changes when upgrading and likely something that might've been the culprit but likely there has been additiona

[2022-08-02 14:55] syntxerror commented on #1183
Closing this issue due to staleness. @Evertras please reopen if this was not resolved on your end.

[2022-08-02 14:55] #1183 closed

[2022-08-02 15:10] syntxerror commented on #1396
@RedShiba Pod Security Policy is being deprecated (see #1449) and we are in the process of migrating to [Pod Security Admission](https://kubernetes.io/docs/tasks/configure-pod-container/migrate-from-psp/#is-psa-right-for-you) (hopefully) by the next release.

@knolev it's some time and wondering if you were able to resolve this before we begin migration. If there are any findings that may influenc

[2022-08-02 15:20] syntxerror commented on #1398
@joeholley I believe this was saying there way be other methods that throw exceptions in the case where having no results is acceptable such as no assignments, no tickets, etc. @dzmitry-lahoda correct me if I am wrong

@dzmitry-lahoda I believe this is fine but may you submit a PR with all of the method which this fix may apply to as well?

[2022-08-02 15:26] mridulji commented on #1226
Closing due to no response/ staleness.

@luna-duclos Please re-open if needed or you may use above suggestions for troubleshooting.

[2022-08-02 15:26] #1226 closed

[2022-08-02 18:45] dzmitry-lahoda commented on #1398
is not json generated from proto? I was thinkin it should be done there, just sent patch to check if json are generated or manual. so these are manual and need to be kept in sync?

[2022-08-04 18:09] #1442 closed

[2022-08-08 15:44] syntxerror commented on #1448
Thoughts on this issue. We should move the e2e test either to the parent directory and not part of the open match internals or out of this repo and into the ecosystem repo. Thoughts

[2022-08-08 18:00] syntxerror opened #1482 "'Matchmaking' metrics on player and profile behavior"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Open Match exposes metrics via Grafana/Prometheus on the performance of Open Match core functionality but many folks would find metrics on the behavior of the player population beneficial as well. There are several issues (#683 & #1312 ) ar

[2022-08-09 12:37] mridulji commented on #1479
Closing this issue due to no response / staleness.

@corradomatt, Please feel free to re-open it if the still facing the problem.

[2022-08-09 12:46] mridulji commented on #1477
@jhowcrof Please let us know if you still working on it or if you have found any resolution/workaround. Also please provide the required information.

[2022-08-09 18:36] corradomatt commented on #1479
Generating the YAML by downloading this repo and running a `make` command doesn't help me unfortunately since I'm installing Open Match with ArgoCD as a helm chart directly from your helm chart repo.

I did run the `make` command as suggested though and ran into dependency issues with the chart....

[code]

[2022-08-10 00:00] jhowcrof commented on #1477
**Cloud Provider/Platform (AKS, GKE, Minikube etc.):**

GKE

**Open Match Release Version:**

Forked from upstream main at 73ec73f2e8a660d0c7de6db64595f7c21b4eb13e

**Install Method:**

helm

[2022-08-10 08:06] mridulji commented on #1479
Thanks for your response, I am re-opening this issue.

Interesting to see this error because `build/toolchain` handles it which includes downloading and updating helm chart dependencies. Would you try once deleting `build` folder and then run the `make install/yaml/01-open-match-core.yaml`. if it doesn't resolves then change directory to `install/helm/open-match/` and run command `helm dependency

[2022-08-10 09:13] mridulji commented on #1477
🤔 Thinking it may be related to the way we uninstall using helm command, And we need to add some flag/command which will explicitly intended to delete PVCs [helm#5156](https://github.com/helm/helm/issues/5156).

[2022-08-10 13:14] mridulji commented on #1449
Hi @joeholley and OM contributors, I found this issue [pod-security-admission](https://github.com/kubernetes/pod-security-admission/issues/5) which contains a link to documentation of [migrating PSP to Pod security admission controller](https://kubernetes.io/docs/tasks/configure-pod-container/migrate-from-psp/). The thing I am still not getting is how do we actually use PSA controller in helm beca

[2022-08-12 19:28] mridulji commented on #1477
I see there could be two ways to delete PVCs:
1. using command `kubectl delete pvc -n open-match -l app=redis`
2. deleting `open-match` namespace using command `kubectl delete namespace open-match`

Here, (2) is more of a workaround which suggests (1) as recommended way. I will submit a PR to update documentation of **Install with Helm**. Meanwhile, @jhowcrof and @syntxerror request you to try the

[2022-08-15 09:11] ninetyninereds commented on #1415
Just wanted to add to this: this has happened to us, and we don't have istio, envoy or anything else other than OpenMatch. I haven't yet investigated it thoroughly, and don't know how to reproduce it, will maybe try to intentionally cause a fail-over in the redis sentinel installation, and will update if I find something.

[2022-08-16 15:08] mridulji commented on #1398
@dzmitry-lahoda, Would you like to submit PR for this change ? We would like review it.

[2022-08-17 19:45] scosgrave commented on #1482
The following are metrics I think would be useful for gaining visibility into the tickets existing in Open Match:

1. Count of tickets that are currently seeking matches
   - Uses:
     - This metric helps users of Open Match get a better idea of the total number of tickets in Open Match's database
     - A long downward trend in this metric might indicate that there is trouble ingesting more play

[2022-08-17 20:13] #1453 closed

[2022-08-18 05:19] #1456 closed

[2022-08-18 05:27] #1426 closed

[2022-08-18 08:52] RY-2718 opened #1484 "Release tag might be wrong"
**What happened**:
Git tag for release v1.4.0 is `1.4.0`, not `v1.4.0` .

**Anything else we need to know?**:
Latest version of Go SDK is still `v1.3.0` .

[2022-08-18 11:00] mridulji commented on #1484
Oh! looks like a typing mistake. Just added tag `v1.4.0` to the `release-1.4` branch and everything looks good now. Also updated indexing of Go SDK to `v1.4.0` as `latest`. Thanks for raising the issue, Closing it as it's now resolved but feel free to re-open still facing problem.

[2022-08-18 11:00] #1484 closed

[2022-08-18 13:01] mridulji commented on #1479
Open-match `v1.4.0` stable release is out now. Would you like to try it on the latest version ? Please let us know what you come up with. Thanks.

[2022-08-19 03:05] sierrasoleil opened #1485 "Add custom annotations to service account"
### Requirements
I need to be able to add custom annotations to the service account attached to the OpenMatch pods. My specific use case is for Workload Identity in GKE, but the change should allow arbitrary annotations.

[This PR](https://github.com/googleforgames/open-match/pull/1469) allows annotations to be added to the values file as a list under `serviceAccountAnnotations:`.

[2022-08-22 03:08] laivu266 opened #1486 "Using Redis Enterprise for Openmatch core"
Hi there,

For persistent data, I would like to using an external redis tool such as Redis enterprise for OM core.
How can custom helm chart?
Thanks.

[2022-08-22 11:28] mridulji commented on #1486
Hi @laivu266, you can configure your redis by disabling it and mention your custom redis deployment instead by following this 👉🏻 [documentation](https://open-match.dev/site/docs/guides/production/#use-alternative-to-included-redis-bitnami-image). Also if you want to install using yaml files, you would need to generate those files  by command ` make install/yaml/` making changes in `/install/helm/o

[2022-08-22 15:19] syntxerror commented on #1485
Thanks for filling the issue to go alongside the PR. I've reviewed the PR. In the future, we ask if you would follow the template when filing either a bug or feature request so it helps with labels and feature tracking. Thanks again for submitting the PR for this.

[2022-08-22 15:20] syntxerror commented on #1441
Hey @SpringMT do you mind filing a PR for this. It seems you have already done some of the work above.

[2022-08-22 15:44] syntxerror commented on #1480
hey @bpar476. This isn't a bad idea and can be added as an addition to Open Match. It would require require changes to the statestore service to allow for TLS configs when there are TLS certs provided. The thoughts we have are how do you supply the TLS certs for Open Match? Where do they live? Is it provided in the config or in directory?

[2022-08-22 19:34] bpar476 commented on #1480
To me it makes sense to provide them in a directory then they can be mounted to the pods using a kubernetes secret.

[2022-08-22 22:01] sierrasoleil commented on #1485
Thanks for the review! I did look at the templates, but it wasn't really clear to me which one was appropriate. I guess for future reference this would count as a "feature request."

[2022-08-23 00:27] SpringMT commented on #1441
Thank you!
I created the PR https://github.com/googleforgames/open-match/pull/1487.

[2022-08-23 05:12] corradomatt commented on #1479
We ended up creating our own Helm chart for Open Match.

[2022-08-23 10:11] laivu266 commented on #1486
Hi @mridulji ,
Because I used Redis enterprise, I need to inject password in redis connection. So how can I inject redis password into helm values?
Thanks

[2022-08-23 18:02] syntxerror commented on #1485
Ah sorry if it confused you. We'll take a look at it to clear up some of the terminology to help you decide better. I approved and merged the PR. Thanks for contributing

[2022-08-23 18:02] #1485 closed

[2022-08-24 15:08] mridulji commented on #1479
Thanks for your response, Marking this issue as closed.

[2022-08-24 15:08] #1479 closed

[2022-08-26 08:09] #1348 closed

[2022-08-29 01:23] khanhsipher opened #1489 "Too many redis connections"
**What happened**:
I just did a load test with openmatch & agones and I got an unexpected result when monitoring redis. There are too many redis connections created. I am concerning that problem. Why not to re-use redis connections each process?

**What you expected to happen**:
Re-use redis connections.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2022-08-29 14:24] mridulji commented on #1489
Hi @khanhsipher, There are multiple connections to redis because we need to connect to it from different microservices i.e. `frontend`, `backend`, `synchronizer` & `query` for the pools in config. I think if there are few connections, it may not be an issue so how many connections exactly you are seeing being created?

[2022-08-30 01:21] khanhsipher commented on #1489
![image](https://user-images.githubusercontent.com/102130038/187326688-5ec51cfa-bbfc-48e3-b27f-bf48911034da.png)
Thanks @mridulji for replying me. As you see I got 500 connections created

[2022-08-30 08:20] khanhsipher commented on #1489
I see config in source code.
`// Maximum number of idle connections in the pool.
	MaxIdle int

	// Maximum number of connections allocated by the pool at a given time.
	// When zero, there is no limit on the number of connections in the pool.
	MaxActive int

	// Close connections after remaining idle for this duration. If the value
	// is zero, then idle connections are not closed. Applications sh

[2022-08-31 14:49] mridulji commented on #1489
Hey @khanhsipher Thanks for sharing your investigations along with pictures. It is normal behaviour of `open-match` to create that many connections but it also depends on how many pools you have created in load test. I recommend calculating how many pools are being created and see if it aligns with the number of connection count. The configs in `values.yaml` and `values-production.yaml` are sugges

[2022-08-31 15:27] mridulji commented on #1408
Hi @dzmitry-lahoda As we look at the problem statement I think:

1. We can implement a third case in [func createOrUpdateBackfill](https://github.com/googleforgames/open-match/blob/main/internal/app/backend/backend_service.go#L369) when `backfill.Id` is not `nil` or `empty` and backfill is not present in redis data so we can create a new backfill. And `backfill.Id` can be generated in MMF using `b

[2022-08-31 17:34] dzmitry-lahoda commented on #1408
we want all backfills to be unique identifiers, so when we crate them, and backfills exists - we prefer hard error, no upsert. so if id was provided from MMF, then when it up into storage, it is `insert or fail`, not `insert or update`. we assume that if there are 2 mmfs, they will not pick same backfill by filters. and if 2 matches creates  with backfills at same time, we can have them eliminated

[2022-09-01 07:32] mridulji commented on #1415
Hey @ninetyninereds, May I know if you have reached to some conclusion w.r.t this issue or able to reproduce it. Please let us know if we should keep this issue open.

[2022-09-01 10:19] dzmitry-lahoda commented on #1408
I thought how to do team join (players join in lobby and then connect to same server),  join running (one friends sends identifier of game to other players) and may be reconnect rejoin.  I think that backfill is potentially good ID to connect to. Agones server id is bad as it restarts on other cluster, etc. Backfill can be send to players, shared, etc. And it is active only if server is active.  S

[2022-09-01 10:30] dzmitry-lahoda commented on #1408
2. workaround is good if that works. so need to be sure that backfill will not be cleaned before TTL. also i dislike it as there will be backfill, but no game behind it. I am thinking that backfill represents server invite to player. no server - no active backfill. so kind of this backfill should be marked as non active until it goes thought MMF? but than it is like having own mapping GAME ---> nu

[2022-09-01 11:38] ninetyninereds commented on #1415
@mridulji I haven't yet had time to try and reproduce it - if/when I will, I can always re-open a new issue with a more accurate description of the problem - right now I have no useful information to share.

[2022-09-01 12:07] mridulji commented on #1415
Thanks for your reply. Marking this issue as closed.

[2022-09-01 12:31] mridulji commented on #1408
Workflow (2) can be implemented in MMF and then you can pass that created `backfill` in matches. So when there is an assignment to it, same is updated. Also you may use `backfill.PersistentField` to store any information from open-match's `v1.5.0` version. Please let us know if it solves the problem statement of this issue.

[2022-09-01 15:31] dzmitry-lahoda commented on #1408
persistet field likely will work

[2022-09-01 15:32] #1408 closed

[2022-09-01 16:18] syntxerror commented on #1404
Hi @dzmitry-lahoda. I'm not convinced that a mmf as a docker image will benefit the community. The time spent of writing a mmf is what we expect folks to do. Go isn't the only language to author mmfs and maybe a templatized path to authoring is needed. I believe a better developer experience will be to provide a mmf in another language in the ecosystem repo as an example. Thoughts?

[2022-09-06 12:15] syntxerror commented on #1486
@laivu266 how are you deploying Redis? That would give us some more insight on a path. You can deploy and set the password during deployment or store it as a k8s secret.

[2022-09-06 16:53] #1477 closed

[2022-09-07 23:32] syntxerror commented on #1482
Checklist for metrics pushed
- [ ] Count of tickets that are currently seeking matches
- [ ] Count of tickets that are in the Release Pending state
- [ ] Count of tickets that are in the Assigned state (optional)
- [ ] Count of Backfill Tickets in any state in the Database
- [ ] Count of calls to Fetch Matches per registration interval

[2022-09-09 15:33] mridulji commented on #1489
I hope the calculation fits well in the situation. Closing this issue due to no response/ staleness. Please feel free to re-open if still having doubts/confusion.

[2022-09-09 15:33] #1489 closed

[2022-09-13 17:30] mridulji opened #1493 "Release 1.5.0-rc.1"
# Open Match Release Process

Follow these instructions to create an Open Match release. The output of the
release process is new images and new configuration.

## Getting setup

**NOTE: The instructions below are NOT strictly copy-pastable and assume 0.5**
**release. Please update the version number for your commands.**

The Git flow for pushing a new release is similar to the development process

[2022-09-19 07:10] laivu266 commented on #1486
hi @syntxerror ,
This is my helm value command
`helm install open-match open-match/open-match --set open-match-customize.enabled=true --set open-match-customize.evaluator.enabled=true --set open-match-override.enabled=true --set open-match-core.redis.enabled=false --set open-match-core.redis.hostname="user:password@redis-endpoint" --set open-match-core.redis.port=<redis-port> -nopen-match`
It look

[2022-09-23 14:38] syntxerror commented on #1482
going to close and ask for individual metric issues to be created

[2022-09-23 14:38] #1482 closed

[2022-09-23 18:48] #1493 closed

[2022-09-26 15:10] syntxerror commented on #1396
closing due to staleness and likelihood the `podsecuritypolicy.yaml` will be deleted in the future

[2022-09-26 15:19] syntxerror commented on #1145
Closing due to staleness.

[2022-09-26 15:19] #1145 closed

[2022-09-26 15:26] #1294 closed

[2022-09-26 15:33] syntxerror commented on #1263
Closing due to staleness

[2022-09-26 15:33] #1263 closed

[2022-09-28 14:34] mridulji opened #1497 "Release 1.5.0"
# Open Match Release Process

Follow these instructions to create an Open Match release. The output of the
release process is new images and new configuration.

## Getting setup

**NOTE: The instructions below are NOT strictly copy-pastable and assume 0.5**
**release. Please update the version number for your commands.**

The Git flow for pushing a new release is similar to the development process

[2022-09-28 15:10] syntxerror commented on #1422
Seems resolved. Closing

[2022-09-28 15:40] syntxerror commented on #1399
Closing due to functionality seems possible as Open Match stands. OpenAPI seems to the issue at this point. Reopen in this is not the case.

[2022-09-28 15:40] #1399 closed

[2022-09-28 15:49] syntxerror commented on #1416
@eda-yuji-10472 if a collision happens and they aren't evaluated together, that is the big red flag that likely would cause issues. If this approach is working for you, then by all means feel free to continue but we recommend optimizing your evaluator code to avoid these situations.

[2022-09-28 15:49] #1416 closed

[2022-09-28 15:52] syntxerror commented on #1409
Closing this issue due to duplicate of #1377. We likely will continue supporting sentinel in our efforts to add Redis cluster support.

[2022-09-28 15:52] #1409 closed

[2022-09-28 15:55] syntxerror commented on #1125
Closing due to duplicate of #1388. Documentation will be added to support this issue

[2022-09-28 15:55] #1125 closed

[2022-10-07 05:02] #1497 closed

[2022-10-10 15:33] syntxerror opened #1502 "Player Pool Statistics"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- We've expanded metrics to include ticket statistics but we can benefit from having additional player pool statistics as well. This can be a challenge since pools aren't always statically define for everyone so we must figure out a path

[2022-10-10 15:40] #930 closed

[2022-10-10 15:50] syntxerror commented on #1129
Closing due to staleness

[2022-10-10 15:50] #1129 closed

[2022-10-10 15:51] syntxerror commented on #1186
Closing due to shift to OTel in the future. Look out for updates

[2022-10-10 15:51] #1186 closed

[2022-10-21 11:36] akmalabbasov commented on #1448
Hi @syntxerror, what's the status of this issue? I've seen the PR, but it's been open for a while now.

[2022-10-21 11:47] mridulji commented on #1448
Hey @akmalabbasov, I like to inform you that we're figuring out on its possible solution which is likely to be included in upcoming release. And we are eager to know if you want to present any thoughts of your. Thanks 🙂

[2022-10-24 07:36] akmalabbasov commented on #1448
Hi @mridulji,
When I update `open-match` to the latest (1.5.0), `k8s.io/client-go` downgrades to pretty old one, which breaks everything.
[code]
Would appreciate if we can get the changes https://github.com/googleforgames/open-match/pull/1481 or update the dependency. I can help with work if required.
Thanks.

[2022-10-27 14:17] mridulji commented on #1480
Hi @bpar476, we are supplying the certs in kubernetes secrets from directory 👉🏻 `install/helm/open-match/secrets/tls/server/`. We would like to review if you submit a PR with the required changes 😃.

[2022-11-01 14:29] #1390 closed

[2022-11-15 10:00] syntxerror commented on #1424
Reopening due to it still occuring. Will try to investigate and reproduce

[2022-11-21 16:14] mridulji opened #1509 "Release 1.6.0-rc.1"
# Open Match Release Process

Follow these instructions to create an Open Match release. The output of the
release process is new images and new configuration.

## Getting setup

**NOTE: The instructions below are NOT strictly copy-pastable and assume 0.5**
**release. Please update the version number for your commands.**

The Git flow for pushing a new release is similar to the development process